.login {
    max-width: 500px;
    margin-top: 150px;
    background: #f0f4f2;
    padding: 40px;
}

.table_width {
    width: 100%;
}

.botao{
    background: purple;
}
.botao:hover{
    background: pink;
}
.no_space {
    padding: 0;
}

#center {
    margin-top: 50px;
    margin-left: 399px;
}